* {
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
.token.function{
    color:#aaa;
}

.token.selector{
    color:#aaa;
}

.token.property{
    color:#aaa;
}

#precode {
    height:100vh;
    overflow: hidden;
}