* {
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
/*调速的按钮*/
.allButton{
    position:absolute;
    top:20px;
    right:20px;
    display: flex;
    flex-direction: column;
}

.allButton>button{
    padding:10px;
    background: #ddd;
    margin:10px;
}
.allButton>button:focus{
    outline:none;
    /* 这个写不写都不影响，方方老师的默认有focue，我这里没有focus的样式，可能是每个浏览器的显示效果不同 */
}

.allButton>button.active{
    box-shadow: 1px 1px 1px rgba(0,0,0,0.8);
    padding:10px;
}

.token.function{
    color:black;
}

.token.selector{
    color:black;
}

.token.property{
    color:black;
}

#code-wrapper{
    padding: 16px;
    height: 100vh;
    display: flex;
  } 

#precode {
    width:100%;
    overflow: auto;
}
/* #convertToHTMLcontent{
    width:100%;
    height:100%;
    background:white;
    color:black;
    padding:16px;
} */

#paper> .html{
    width:100%;
    height:100%;
    background:white;
    color:black;
    overflow:auto;
}

@keyframes breath{
    0%{
        box-shadow:0 0 10px rgba(0,0,0,1)
    }
    100%{
        box-shadow:0 0 10px rgba(0,0,0,0.2)
    }

}